app-park-search-page{
    ion-content {
        .scroll-content{
            padding: 0 !important;
            margin: 0 !important;
        }

        #the-content{
            width: 100% !important;
            height: 100% !important;

            header{
                display:none;
            }
        }
    }
}