app-park-search-page{
    ion-content {
        .scroll-content{
            padding: 0 !important;
            margin: 0 !important;
        }

        #the-content{
            width: 100% !important;
            height: 100% !important;

            header{
                display:none;
            }
        }


    }



}

body *, body ::before, body ::after {
    box-sizing: inherit;
  }
  body main {
    width: 100%;
    float: left;
  }
  body span, body dt, body dd, body aside, body li, body div {
    box-sizing: border-box;
    -webkit-margin-start: 0px;
  }
  #divGota {
    padding-top: 0.5em;
  }
  .cFondo-HA-0 {
    background-color: rgb(39, 55, 67);
  }
  body ul {
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  body ul, body ol, body dl {
    font-size: 1rem;
    line-height: 1.6;
    list-style-position: outside;
    margin-bottom: 1.25rem;
  }
  #divGota ul {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    padding-top: 0px;
    padding-right: 1em;
    padding-bottom: 0px;
    padding-left: 1em;
  }
  body li {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  body span, body dt, body dd, body aside, body li {
    box-sizing: border-box;
    -webkit-margin-start: 0px;
  }
  #divGota ul li {
    display: inline-block;
  }
  #divGota ul li:not(:last-child)::after {
    width: 8px;
    height: 14px;
    content: "";
    display: inline-block;
    margin-top: -3px;
    margin-right: 0px;
    margin-bottom: -3px;
    margin-left: 4px;
    background-image: url("https://www.tiempo.com/css/images/gota-next.png");
    background-position-x: 0px;
    background-position-y: 2px;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
  }
  body a {
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    background-color: transparent;
    line-height: inherit;
    box-sizing: border-box;
  }
  body a:visited {
    color: rgb(0, 171, 235);
  }
  #divGota ul li a {
    font-size: 10px;
  }
  .gota-RLoc0 {
    color: rgb(209, 211, 212);
  }
  #divGota .gMv-svg {
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    transition-property: top;
    z-index: 200;
    width: 55px;
    height: 54px;
    display: block;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(216, 216, 216);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    position: fixed;
    top: 0px;
    left: 0px;
  }
  #divGota .gMv-svg svg {
    width: 20px;
    height: 20px;
  }
  body #modulos {
    width: 100%;
    float: left;
    position: relative;
  }
  body #predLoad {
    display: none;
  }
  #iUV {
    width: auto;
    max-width: 100%;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  #iconsOcult {
    display: none;
  }
  #colAzul {
    width: 100%;
    height: auto;
    position: relative;
  }
  body .clearfix {
    display: block;
  }
  body .clearfix::before {
    clear: both;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
  }
  body .clearfix::after {
    clear: both;
    content: "";
    display: block;
    height: 0px;
    visibility: hidden;
  }
  #colAzul .contH1-1 {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    position: relative;
  }
  #colAzul .contH1-1 #contendorHora {
    float: left;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 1em;
    padding-bottom: 0px;
    padding-left: 1em;
  }
  body h1, body h2, body h3 {
    font-weight: 400;
    line-height: 28px;
    font-family: Roboto, sans-serif;
  }
  #colAzul .contH1-1 #contendorHora .T1Loc {
    width: 100%;
    float: left;
    font-size: 25px;
    font-weight: 400;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: inline-block;
  }
  .color-texto-t100-0 {
    color: rgb(209, 211, 212);
  }
  #colAzul .contH1-1 #contendorHora #newhActual {
    width: 100%;
    float: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  #colAzul .contH1-1 #contendorHora #newhActual .ddTime {
    width: 73%;
    height: 50px;
    float: left;
    font-size: 15px;
  }
  #colAzul .contH1-1 #contendorHora #newhActual .ddTime .sHour {
    width: 42px;
    float: left;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 13px;
  }
  .color-texto-t85-0 {
    color: rgba(209, 211, 212, 0.85);
  }
  body abbr {
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }
  #colAzul .contH1-1 #contendorHora #newhActual .ddTime .ddDesc {
    width: auto;
    float: left;
    font-size: 15px;
    font-weight: 500;
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  #colAzul .contH1-1 #contendorHora #newhActual .compCor {
    width: 27%;
    height: 50px;
    float: right;
  }
  #colAzul .contH1-1 #contendorHora #newhActual .compCor ul {
    width: 100%;
    float: left;
  }
  #colAzul .contH1-1 #contendorHora #newhActual .compCor ul li {
    width: 40px;
    height: 40px;
    float: left;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #colAzul .contH1-1 #contendorHora #newhActual .compCor ul li:first-child {
    margin-right: 2px;
  }
  #colAzul .contH1-1 #contendorHora #newhActual .compCor ul li svg {
    width: 26px;
    height: 26px;
    float: left;
  }
  #colAzul .contH1-1 #contendorHora #newhActual .compCor ul li svg.liFavorito {
    margin-top: 9px;
    margin-right: 7px;
    margin-bottom: 9px;
    margin-left: 7px;
  }
  #colAzul .contH1-1 #contendorHora #newhActual .compCor ul li svg.comparte {
    margin-top: 7px;
    margin-right: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
  }
  #colAzul .contH1-1 #contendorHora #newhActual dd#simbTemp {
    width: 50%;
    height: 65px;
    float: left;
  }
  #colAzul .contH1-1 #contendorHora #newhActual dd#simbTemp .iAct {
    width: 65px;
    height: 70px;
    float: left;
    display: inline-block;
  }
  #colAzul .contH1-1 #contendorHora #newhActual dd#simbTemp .iAct svg {
    width: 200px;
    height: 200px;
    transform: scale(0.3);
    transform-origin: left top 0px;
  }
  #colAzul .contH1-1 #contendorHora #newhActual dd#simbTemp .ddTemp {
    width: auto;
    float: left;
    font-size: 49px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -4px;
  }
  #colAzul .contH1-1 #contendorHora #newhActual dd#ddDades {
    width: 45%;
    height: 65px;
    float: right;
  }
  #colAzul .contH1-1 #contendorHora .T1Loc span {
    display: none;
  }
  #colAzul .contH1-1 #contendorHora #newhActual dd#ddDades span {
    width: 20%;
    height: 32px;
    display: inline-block;
    float: left;
  }
  #colAzul .contH1-1 #contendorHora #newhActual dd#ddDades span.spanL {
    width: 15%;
    margin-top: 18px;
  }
  #colAzul .contH1-1 #contendorHora #newhActual dd#ddDades span.spanL svg {
    width: 33px;
    height: 33px;
    transform: scale(0.7);
    transform-origin: left top 0px;
  }
  #colAzul .contH1-1 #contendorHora #newhActual dd#ddDades ul {
    width: 78%;
    height: 40px;
    float: right;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    margin-top: 12px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  #colAzul .contH1-1 #contendorHora #newhActual dd#ddDades ul li {
    width: 100%;
    float: left;
    font-size: 14px;
    font-weight: 400;
  }
  #colAzul .contH1-1 #contendorHora #newhActual dd#ddDades ul li.uvDesc {
    font-size: 13px;
  }
  #colAzul .contH1-1 #contendorHora #newhActual dd#ddDades ul li.ilum span {
    width: auto;
    height: 20px;
    padding-top: 4px;
    font-size: 12px;
  }
  #colAzul .contH1-1 #contendorHora .T1Loc abbr {
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    border-bottom-width: 0px;
    border-bottom-style: initial;
    border-bottom-color: initial;
  }
  #colAzul .contH1-1 #contendorHora #newhActual dd#ddDades ul li abbr {
    width: auto;
    min-width: 46px;
  }
  #colAzul .contH1-1 #contendorHora #newhActual dd#ddDades ul li.ilum abbr {
    margin-left: 5px;
  }
  #colAzul .contH1-1 #contendorHora #newhActual dd#ddSTerm {
    width: 100%;
    float: left;
    font-size: 13px;
    font-weight: 400;
    font-family: Roboto;
  }
  #colAzul .contH1-1 #contendorHora #newhActual dd#ddSTerm #spTerm {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
  }
  #infoD {
    width: 100%;
    float: left;
    position: relative;
  }
  #infoD #infoH {
    width: 80%;
    margin-top: 0px;
    margin-right: 15%;
    margin-bottom: 10px;
    margin-left: 5%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-family: "Roboto Condensed", avenir;
    line-height: 1.2;
  }
  #infoD #infoH::first-letter {
    text-transform: capitalize;
  }
  #infoD #infoH .iconNext {
    width: 10px;
    height: 16px;
    position: absolute;
    top: 6px;
    right: 1em;
  }
  #infoD #infoH .iconNext svg {
    width: 10px;
    height: 16px;
    transform: scale(0.8);
    transform-origin: left top 0px;
  }
  body .pHead {
    float: left;
    width: 100%;
  }
  .pHead {
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
  }
  .cFondoD-0 {
    background-color: rgb(46, 61, 73);
  }
  body .pHead #pubHead {
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 100%;
    line-height: 0;
  }
  #pubHead {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  body .pHead #pubHead .divgSup {
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    width: auto;
    height: auto;
    text-align: center;
  }
  body .pHead #pubHead .divgSup .bSup {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-color: rgb(225, 225, 225);
    width: fit-content;
  }
  body .pHead #pubHead .divgSup .bFluid {
    width: 100%;
    background-image: none;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
  }
  body .pHead #pubHead .divgSup .bSupTest {
    background-image: url("https://www.tiempo.com/css/images/ad_loading.gif");
    background-position-x: center;
    background-position-y: top;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
    min-height: 50px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  #colGris {
    width: 100%;
    height: auto;
    float: left;
    background-color: rgb(255, 255, 255);
  }
  #colGris #contDias .loc-dia #contDl {
    float: left;
    width: 100%;
  }
  #colGris #contDias .loc-dia #contDl .oldDl {
    width: 100%;
    float: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(216, 216, 216);
  }
  #colGris #contDias .loc-dia #contDl .oldDl dt {
    width: 41%;
    height: 51px;
    float: left;
    position: relative;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dt time {
    width: 65%;
    float: right;
    margin-top: 12px;
    text-transform: uppercase;
    line-height: 15px;
    font-size: 8px;
    color: rgb(119, 119, 119);
    font-weight: 500;
    position: absolute;
    left: 7.5em;
  }
  #colGris #contDias .loc-dia #contDl .oldDl.l0 dt strong {
    font-weight: 700;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dt time strong {
    text-transform: capitalize;
    display: block;
    font-weight: 400;
    font-size: 15px;
    color: rgb(76, 76, 76);
  }
  #colGris #contDias .loc-dia #contDl .oldDl dt div {
    width: 30%;
    height: 49px;
    float: left;
    position: relative;
    margin-top: 1px;
    padding-left: 1em;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dt .simbPng {
    display: block;
    width: 31px;
    height: 30px;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dt div svg {
    width: 200px;
    height: 200px;
    transform: scale(0.155);
    transform-origin: left top 0px;
  }
  .color-texto-t50-0 {
    color: rgba(209, 211, 212, 0.5);
  }
  #colGris #contDias .loc-dia #contDl .oldDl dt div abbr {
    width: 30px;
    text-align: center;
    color: rgb(0, 152, 251);
    position: absolute;
    bottom: 2px;
    font-size: 11px;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dd {
    float: left;
    height: 49px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dd.d1 {
    width: 31%;
    float: left;
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 13px;
    padding-left: 0px;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dd.d1 abbr {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    color: rgb(119, 119, 119);
    float: left;
    font-size: 16px;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dd.d1 abbr:first-child {
    width: 48%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dd.d1 abbr:last-child {
    width: 48%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dd.d1 abbr span {
    display: inline-block;
    width: 12px;
    height: 15px;
    font-size: 15px;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dd.d1 abbr svg {
    width: 15px;
    height: 15px;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dd.d2 {
    width: 19%;
    float: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span {
    width: 21px;
    height: 25px;
    display: block;
    margin-top: 3px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg {
    transform: scale(0.5);
    transform-origin: left top 0px;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC25, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC33, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC41, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC49, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC57, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC65, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC73, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC81, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC89, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC97, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC29, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC37, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC45, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC53, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC61, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC69, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC77, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC85, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC93, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC101 {
    width: 21px;
    height: 41px;
    margin-top: 3px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 6px;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dd.d2 abbr {
    width: 100%;
    text-align: center;
    float: right;
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    font-size: 11px;
    color: rgb(119, 119, 119);
  }
  #colGris #contDias .loc-dia #contDl .oldDl dd.d3 {
    width: auto;
    float: right;
    margin-top: 16px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px;
    height: 20px;
    padding-right: 0.5em;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dd.d3 svg {
    width: 18px;
    height: 20px;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC26, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC34, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC42, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC50, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC58, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC66, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC74, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC82, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC90, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC98, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC28, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC36, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC44, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC52, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC60, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC68, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC76, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC84, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC92, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC100, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC30, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC38, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC46, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC54, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC62, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC70, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC78, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC86, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC94, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC102, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC32, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC40, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC48, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC56, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC64, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC72, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC80, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC88, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC96, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC104 {
    width: 38px;
    height: 38px;
    margin-top: 6px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 3px;
  }
  #colGris #contDias .loc-dia .pubLocH {
    float: left;
    width: 100%;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: center;
  }
  body .pMovil {
    width: fit-content;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  body .pMovilTest {
    background-image: url("https://www.tiempo.com/css/images/ad_loading_300250.gif");
    background-position-x: center;
    background-position-y: center;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    min-width: 300px;
    min-height: 250px;
  }
  body .nofitc {
    width: inherit;
  }
  body .pMovil #pMovil1, body .pMovil #pMovil2, body .pMovil #pMovil3 {
    line-height: 0;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: center;
  }
  body .pMovil #pMovil1 .divMovG, body .pMovil #pMovil2 .divMovG, body .pMovil #pMovil3 .divMovG {
    width: auto;
    height: auto;
    text-align: center;
  }
  body .pMovilTest #pMovil1 .divMovG, body .pMovilTest #pMovil2 .divMovG, body .pMovilTest #pMovil3 .divMovG {
    min-height: 1px;
  }
  body .publi_sas, body .publi_no_sas, body .publi_dfp, body #sas_36076, body #sas_36077, body #sas_36078 {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    box-sizing: initial;
    background-color: rgb(225, 225, 225);
  }
  body .no_background {
    background-image: none;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
  }
  body .no_background div:first-of-type {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  #colGris #contDias .loc-dia #contDl .oldDl.bTop {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(216, 216, 216);
  }
  #colGris #contDias .loc-dia #contDl .oldDl dt .simbPng.pdleft {
    margin-top: 10px;
    padding-left: 1em;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dt .symb {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 7px;
    transform: scale(0.155);
    transform-origin: left top 0px;
    left: 1em;
  }
  #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC27, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC35, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC43, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC51, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC59, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC67, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC75, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC83, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC91, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC99, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC31, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC39, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC47, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC55, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC63, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC71, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC79, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC87, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC95, #colGris #contDias .loc-dia #contDl .oldDl dd.d2 span svg.iC103 {
    width: 50px;
    height: 27px;
    margin-top: 10px;
  }


  #colGris #contDias .loc-dia #contDl .oldDl dd.d1 abbr span {
      font-size: 9px;
  }

  dd .d3 { display: none; }






  body *, body ::before, body ::after {
    box-sizing: inherit;
  }
  body span, body dt, body dd, body aside, body li, body div {
    box-sizing: border-box;
    -webkit-margin-start: 0px;
  }
  body #contPag {
    width: 100%;
    float: left;
  }
  body .clearfix {
    display: block;
  }
  body .clearfix::before {
    clear: both;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
  }
  body .clearfix::after {
    clear: both;
    content: "";
    display: block;
    height: 0px;
    visibility: hidden;
  }
  body #contPag .subContPag {
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  body #modulos {
    width: 100%;
    float: left;
    position: relative;
  }
  body table {
    border-collapse: collapse;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
  }
  .hourMv {
    width: 100%;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-collapse: collapse;
  }
  .hourMv caption {
    width: 100%;
    background-color: rgb(68, 68, 68);
    text-align: left;
    padding-top: 13px;
    padding-right: 0px;
    padding-bottom: 11px;
    padding-left: 0px;
  }
  .hourMv caption time {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 300;
    padding-left: 1em;
  }
  body span, body dt, body dd, body aside, body li {
    box-sizing: border-box;
    -webkit-margin-start: 0px;
  }
  .hourMv caption time span {
    width: auto;
    float: right;
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    padding-top: 5px;
    padding-right: 1em;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .hourMv .dades {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(216, 216, 216);
  }
  body td, body th {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .hourMv .dades td {
    font-size: 13px;
    color: rgb(119, 119, 119);
    text-align: left;
    padding-top: 13px;
    padding-right: 0px;
    padding-bottom: 11px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .hourMv .dades td:first-child {
    width: 30%;
    font-size: 13px;
    padding-left: 1em;
  }
  .hourMv .dades td:first-child .hF {
    font-size: 10px;
    text-transform: uppercase;
  }
  body abbr {
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }
  .hourMv .dades td:first-child abbr {
    width: 50px;
    float: right;
    font-size: 11px;
    color: rgb(0, 152, 251);
    display: inline-block;
    text-align: center;
    padding-top: 3px;
  }
  .hourMv .dades td:first-child + td {
    width: 17%;
    padding-top: 0px;
    padding-right: 3%;
    padding-bottom: 0px;
    padding-left: 3%;
  }
  .hourMv .dades td:first-child + td .iconSimb {
    width: 40px;
    height: 40px;
    float: left;
    display: inline-block;
  }
  .hourMv .dades td:first-child + td .iconSimb svg {
    width: 200px;
    height: 200px;
    margin-top: 6px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    transform: scale(0.15);
    transform-origin: left top 0px;
  }
  .hourMv .dades td:first-child + td .iconSimb span {
    display: inline-block;
    width: 31px;
    height: 31px;
    margin-top: 5px;
  }
  .hourMv .dades td:first-child + td .iconSimb .desSimb {
    display: inline-block;
    text-indent: -999px;
  }
  .hourMv .dades td:first-child + td + td {
    width: 11%;
    font-size: 18px;
    color: rgb(76, 76, 76);
    text-align: center;
    padding-top: 9px;
    padding-right: 0px;
    padding-bottom: 9px;
    padding-left: 0px;
  }
  .hourMv .dades td:first-child + td + td abbr {
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }
  .hourMv .dades td:first-child + td + td + td {
    width: 30%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .hourMv .dades td:first-child + td + td + td abbr {
    display: block;
  }
  .hourMv .dades td:first-child + td + td + td abbr:first-child {
    width: 35%;
    float: left;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
  }
  .hourMv .dades td:first-child + td + td + td abbr:last-child {
    width: 60%;
    float: left;
    padding-top: 11px;
    padding-right: 0px;
    padding-bottom: 11px;
    padding-left: 0px;
    text-align: left;
  }
  .hourMv .dades td:first-child + td + td + td abbr:first-child span {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
  }
  .hourMv .dades td:first-child + td + td + td abbr:first-child span svg {
    width: 40px;
    height: 40px;
    transform: scale(0.5);
  }
  .hourMv .dades td:first-child + td + td + td + td {
    width: 12%;
    position: relative;
  }
  .hourMv .dades td:first-child + td + td + td + td .more {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 12px;
    right: 1em;
  }
  .hourMv .detail {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(225, 225, 225);
    display: none;
  }
  body ul, body ol, body dl {
    font-size: 1rem;
    line-height: 1.6;
    list-style-position: outside;
    margin-bottom: 1.25rem;
  }
  .hourMv .detail dl {
    float: left;
    margin-top: 4px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .hourMv .detail dl dt {
    height: 33px;
    display: inline-block;
    float: left;
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    color: rgb(102, 102, 102);
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 45%;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10%;
  }
  .hourMv .detail dl dd {
    height: 33px;
    display: inline-block;
    float: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(68, 68, 68);
    width: 55%;
  }
  .hourMv .detail dl dd span:first-child {
    width: 30px;
    height: 32px;
    float: left;
    display: inline-block;
    margin-top: 0px;
    margin-right: 1em;
    margin-bottom: 0px;
    margin-left: 1em;
  }
  .hourMv .detail dl dd span:first-child.icongota {
    background-position-x: -287px;
    background-position-y: -88px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .hourMv .detail dl dd span:first-child.iconpresion {
    background-position-x: -250px;
    background-position-y: -85px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .hourMv .detail dl dd span:first-child.iconhumedad {
    background-position-x: -211px;
    background-position-y: -84px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .hourMv .detail dl dd span:first-child.iconptorocio {
    background-position-x: -348px;
    background-position-y: -83px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .hourMv .detail dl dd span:first-child.iconcotanieve {
    background-position-x: -93px;
    background-position-y: -83px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .hourMv .detail dl dd span:first-child.iconnubosidad {
    background-position-x: -173px;
    background-position-y: -87px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .hourMv .detail dl dd span:first-child.icontermometro {
    background-position-x: -60px;
    background-position-y: -81px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .hourMv .detail dl dd span:first-child.iconviento {
    background-position-x: -134px;
    background-position-y: -86px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .hourMv .detail dl dd span:first-child.iconniebla {
    background-position-x: -315px;
    background-position-y: -83px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .hourMv .detail dl dd span:first-child.iuv {
    background-position-x: -395px;
    background-position-y: 1px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .hourMv .detail dl dd span:last-child {
    display: inline-block;
    float: left;
    padding-top: 4px;
  }
  .hourMv .detail dl dd span:first-child svg {
    width: 25px;
    height: 25px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: block;
  }
  .hourMv .detail dl dd span:first-child svg.dUV {
    width: 22px;
    height: 22px;
    margin-top: 3px;
    margin-right: auto;
    margin-bottom: 3px;
    margin-left: auto;
  }
  .hourMv .detail dl dd .datoUV {
    float: left;
    padding-top: 4px;
  }
  .hourMv .detail dl dd .descriPS {
    font-size: 12px;
    font-weight: 500;
    padding-left: 7px;
  }
  .hourMv .detail dl dd span:first-child svg.dSenTerm {
    width: 22px;
    height: 17px;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
  }
  .hourMv .detail dl dd span:first-child svg.dHum {
    width: 26px;
    margin-top: 3px;
    margin-right: auto;
    margin-bottom: 3px;
    margin-left: auto;
  }
  .hourMv .detail dl dd span:first-child svg.dProcio {
    width: 24px;
    height: 22px;
    margin-top: 4px;
    margin-right: auto;
    margin-bottom: 4px;
    margin-left: auto;
  }
  .hourMv .detail dl dd span:first-child svg.dNubes {
    width: 24px;
    height: 17px;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
  }
  .hourMv .detail dl dd span:first-child svg.dNiebla {
    height: 11px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
  }
  .hourMv .detail dl dd span:first-child svg.dWindM {
    width: 26px;
    height: 11px;
    margin-top: 11px;
    margin-right: auto;
    margin-bottom: 11px;
    margin-left: auto;
  }
  .hourMv .detail dl dd .dirW {
    float: left;
    padding-top: 4px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .hourMv .detail dl dd span:first-child svg.dWindR {
    width: 25px;
    height: 15px;
    margin-top: 8px;
    margin-right: auto;
    margin-bottom: 8px;
    margin-left: auto;
  }
  .hourMv .detail dl dd span:first-child svg.dPress {
    width: 23px;
    height: 23px;
    margin-top: 4px;
    margin-right: auto;
    margin-bottom: 4px;
    margin-left: auto;
  }
  .hourMv .detail dl dd span:first-child svg.dCota {
    height: 24px;
    margin-top: 3px;
    margin-right: auto;
    margin-bottom: 3px;
    margin-left: auto;
  }
  .hourMv .dades td.psSol {
    width: 100%;
    padding-top: 1px;
    padding-right: 0px;
    padding-bottom: 1px;
    padding-left: 0px;
  }
  .hourMv .dades td.psSol span {
    width: 120px;
    display: block;
    margin-top: 7px;
    margin-right: auto;
    margin-bottom: 7px;
    margin-left: auto;
    font-size: 13px;
    font-weight: 500;
    padding-top: 6px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 65px;
    height: 33px;
    position: relative;
  }
  .hourMv .dades td.psSol span span {
    width: 50px;
    height: 20px;
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    position: absolute;
    left: 2px;
  }
  .hourMv .dades td.psSol span.salidaS svg {
    top: -3px;
  }
  .hourMv .dades td.psSol span svg {
    width: 36px;
    height: 21px;
    position: absolute;
    left: 3px;
  }
  .hourMv .dades td:first-child + td .iconSimb svg.sh2, .hourMv .dades td:first-child + td .iconSimb svg.sh3, .hourMv .dades td:first-child + td .iconSimb svg.sh5, .hourMv .dades td:first-child + td .iconSimb svg.sh6, .hourMv .dades td:first-child + td .iconSimb svg.sh8, .hourMv .dades td:first-child + td .iconSimb svg.sh9, .hourMv .dades td:first-child + td .iconSimb svg.sh1n, .hourMv .dades td:first-child + td .iconSimb svg.sh5n, .hourMv .dades td:first-child + td .iconSimb svg.sh6n, .hourMv .dades td:first-child + td .iconSimb svg.sh8n, .hourMv .dades td:first-child + td .iconSimb svg.sh9n {
    margin-top: 5px;
  }
  .hourMv .dades td.psSol span.puestaSol svg {
    top: 2px;
  }
  .hourMv .dades td:first-child + td .iconSimb svg.sh2n, .hourMv .dades td:first-child + td .iconSimb svg.sh3n {
    margin-top: 4px;
  }
  .hourMv .dLun {
    width: 100%;
  }
  .hourMv .dLun .lMovil {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    background-color: rgb(230, 228, 234);
  }
  body ul {
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .hourMv .dLun .lMovil ul {
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 200px;
    height: 50px;
  }
  body li {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .hourMv .dLun .lMovil ul li {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    color: rgb(119, 119, 119);
  }
  .hourMv .dLun .lMovil ul li.salida {
    width: 73px;
    float: left;
    padding-top: 7px;
  }
  .hourMv .dLun .lMovil ul li.salida .slPng {
    display: inline-block;
    width: 28px;
    height: 16px;
  }
  .hourMv .dLun .lMovil ul li.salida svg {
    width: 25px;
    height: 18px;
    float: left;
  }
  .hourMv .dLun .lMovil ul li.iconL {
    width: 50px;
    position: relative;
  }
  .hourMv .dLun .lMovil ul li.iconL .ilPng {
    display: inline-block;
    width: 45px;
    height: 35px;
  }
  .hourMv .dLun .lMovil ul li.iconL .lunsMv {
    width: 35px;
    height: 35px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    display: block;
  }
  .hourMv .dLun .lMovil ul li.iconL .dIlum {
    position: absolute;
    top: 37px;
    left: 4px;
  }
  .hourMv .dLun .lMovil ul li.puesta {
    width: 70px;
    float: right;
    padding-top: 7px;
  }
  .hourMv .dLun .lMovil ul li.puesta .plPng {
    display: inline-block;
    width: 25px;
    height: 20px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .hourMv .dLun .lMovil ul li.puesta span {
    float: left;
    margin-left: 6px;
  }
  .hourMv .dLun .lMovil ul li.puesta svg {
    width: 25px;
    height: 24px;
    float: left;
  }
  .pHoras {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  body .pMovil {
    width: fit-content;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  body .pMovilTest {
    background-image: url("https://www.tiempo.com/css/images/ad_loading_300250.gif");
    background-position-x: center;
    background-position-y: center;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    min-width: 300px;
    min-height: 250px;
  }
  body .nofitc {
    width: inherit;
  }
  body .pMovil #pMovil1, body .pMovil #pMovil2, body .pMovil #pMovil3 {
    line-height: 0;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: center;
  }
  #pMovil1, #pMovil2, #pMovil3 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }
  body .pMovil #pMovil1 .divMovG, body .pMovil #pMovil2 .divMovG, body .pMovil #pMovil3 .divMovG {
    width: auto;
    height: auto;
    text-align: center;
  }
  body .pMovilTest #pMovil1 .divMovG, body .pMovilTest #pMovil2 .divMovG, body .pMovilTest #pMovil3 .divMovG {
    min-height: 1px;
  }
  body .publi_sas, body .publi_no_sas, body .publi_dfp, body #sas_36076, body #sas_36077, body #sas_36078 {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    box-sizing: initial;
    background-color: rgb(225, 225, 225);
  }
  body .no_background {
    background-image: none;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
  }
  body .no_background div:first-of-type {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  .hourMv .dades td:first-child + td .iconSimb svg.sh1 {
    margin-top: 9px;
  }