app-home-page{
    ion-header{
        ion-navbar.toolbar{
            min-height: 120px;
        }
    }

    ion-content{
        $gap1: 7vh;
        $gap2: 4vh;

        .title{
            width: 70%;
            margin: 0 auto;
            padding-top: $gap1;
            padding-bottom: $gap1;
            @media (min-width: 0px) and (max-width: 320px) { padding-bottom: $gap2; padding-top: $gap2; }

            h2{
                color: #a9a9a9;
                text-align: center;
            }
        }

        .pais{
            padding-top: $gap1;
            padding-bottom: $gap1;
            @media (min-width: 0px) and (max-width: 320px) { padding-bottom: $gap2; padding-top: $gap2; }

            div{
                text-align: center;
                img{
                    width: 85% !important;
                    display: inline-block;
                }
            }
        }

        .options{
            list-style: none;
            padding: 0;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            padding-left: 5px;
            padding-right: 5px;

            li{
                display: inline-block;

                span{
                    display: table;
                    text-align: center;
                    width: 100%;

                    img{
                        display: inline-block;
                        height: 45px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}