<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			<img src="assets/images/rutas-de-trekking-title.png" alt="Rutas de Trekking">
		</ion-title>
	</ion-navbar>
</ion-header>
		
<ion-content padding>
	<div class="title">
		<h2>Por favor seleccione el país dónde hacer trekking:</h2>
	</div>

	<div #render></div>
	<div class="pais" #paises>
		<!--<img 
			*ngFor="let parque of parques"
			[attr.src]="parque.logo" 
			[attr.alt]="parque.nombre"
			(click)="navCtrl.push('app-parks-page', {'country': parque.id })">-->
	</div>

	<!--<ul class="options" #options>
		<li (click)="navCtrl.push('app-about-us-page')">
			<span><img src="assets/icons/png/about-black.png" alt="About"></span>
			<span>Acerca de</span>
		</li>
		<li (click)="navCtrl.push('app-feedback-page')">
			<span><img src="assets/icons/png/feedback-black.png" alt="Feedback"></span>
			<span>Feedback</span>
		</li>
		<li (click)="navCtrl.push('app-weather-page')">
			<span><img src="assets/icons/png/weather-black.png" alt="Weather"></span>
			<span>Clima</span>
		</li>
		<li (click)="navCtrl.push('app-search-page')">
			<span><img src="assets/icons/png/search-black.png" alt="Search"></span>
			<span>Buscar</span>
		</li>
		<li (click)="navCtrl.push('app-configuration-page')">
			<span><img src="assets/icons/png/configuration-black.png" alt="Configuration"></span>
			<span>Ajustes</span>
		</li>
	</ul>-->
</ion-content>