<ion-tabs>
    <ion-tab [root]="InfoTabRoot" tabTitle="Info" tabIcon="information-circle"></ion-tab>
    <!--<ion-tab [root]="SearchTabRoot" tabTitle="Search" tabIcon="search"></ion-tab>
    <ion-tab [root]="RoutesTabRoot" tabTitle="Routes" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="LodgmentTabRoot" tabTitle="Lodgment" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="ApnTabRoot" tabTitle="APN" tabIcon="information-circle"></ion-tab>-->
</ion-tabs>
<h1>Gut gemacht</h1>