// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #2196f3,
  secondary:  #44db5e,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


//-- Custom new fonts
@import "fonts.scss";
* {
	font-family: 'Source Sans Pro';
}

//-- Global styles
p{
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}


#tab-t1-5,
#tab-t2-5,
#tab-t3-5,
#tab-t4-5,
#tab-t5-5,
#tab-t6-5,
#tab-t7-5,
#tab-t8-5,
#tab-t9-5,
#tab-t10-5,
#tab-t11-5,
#tab-t12-5,
#tab-t13-5,
#tab-t14-5,
#tab-t15-5,
#tab-t16-5,
#tab-t17-5,
#tab-t18-5,
#tab-t19-5,
#tab-t20-5,
#tab-t21-5,
#tab-t22-5,
#tab-t23-5,
#tab-t24-5,
#tab-t25-5,
#tab-t26-5,
#tab-t27-5,
#tab-t28-5,
#tab-t29-5,
#tab-t30-5,
#tab-t31-5,
#tab-t32-5,
#tab-t33-5,
#tab-t34-5,
#tab-t35-5,
#tab-t36-5,
#tab-t37-5,
#tab-t38-5,
#tab-t39-5,
#tab-t40-5,
#tab-t41-5,
#tab-t42-5,
#tab-t43-5,
#tab-t44-5,
#tab-t45-5,
#tab-t46-5,
#tab-t47-5,
#tab-t48-5,
#tab-t49-5,
#tab-t50-5,
#tab-t51-5,
#tab-t52-5,
#tab-t53-5,
#tab-t54-5,
#tab-t55-5,
#tab-t56-5,
#tab-t57-5,
#tab-t58-5,
#tab-t59-5,
#tab-t60-5{
  display: none;
}

.tab-button:last-child(){
  display: none;
}