div[options-fixed]{
    top: 10px;
    position: fixed;
    z-index: 60;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;

    [inner-fixed]{
        position: relative;

        & > ion-icon{
            color: white !important;
            position: absolute;
        }
        
        & > ion-icon:first-child{
            font-size: 40px !important;
            left: 18px;
        }

        & > ion-icon:last-child{
            font-size: 30px !important;
            right: 14px;
        }
    }
}



ion-header[header-config]{
    ion-navbar{
        min-height: 140px !important;

        button.back-button{
            position: absolute;
            bottom: 15px;

            span.button-inner{
                span.back-button-text{
                    display: none;
                }
            }
        }

        div.toolbar-content{
            ion-title.title{
                div.toolbar-title{
                    position: absolute;
                    bottom: 20px;
                    left: 0;
                    right: 0;
                    font-size: 2.8rem;
                }
            }
        }
    }
}