<ion-header header-config>
	<ion-navbar color="primary">
		<ion-title>
			Configuración
		</ion-title>
	</ion-navbar>
</ion-header>
      
<ion-content class="settingsPage" padding>
	<ion-list radio-group [(ngModel)]="preferences[PREF_LANGUAGE]" (ionChange)='changePreferenceGroup($event, PREF_LANGUAGE)'>
		<ion-list-header>
			Idioma
		</ion-list-header>
	
		<ion-item>
			<ion-label>Español</ion-label>
			<ion-radio value="es"></ion-radio>
		</ion-item>
	
		<ion-item>
			<ion-label>Inglés</ion-label>
			<ion-radio value="en"></ion-radio>
		</ion-item>
	</ion-list>

	<ion-list radio-group [(ngModel)]="preferences[PREF_DISTANCE]" (ionChange)='changePreferenceGroup($event, PREF_DISTANCE)'>
		<ion-list-header>
			Distancia
		</ion-list-header>
	
		<ion-item>
			<ion-label>Kilometros</ion-label>
			<ion-radio value="km"></ion-radio>
		</ion-item>
	
		<ion-item>
			<ion-label>Millas</ion-label>
			<ion-radio value="ml"></ion-radio>
		</ion-item>
	</ion-list>

	<ion-list radio-group [(ngModel)]="preferences[PREF_TEMPERATURE]" (ionChange)='changePreferenceGroup($event, PREF_TEMPERATURE)'>
		<ion-list-header>
			Temperatura
		</ion-list-header>
	
		<ion-item>
			<ion-label>°Centígrados</ion-label>
			<ion-radio value="c"></ion-radio>
		</ion-item>
	
		<ion-item>
			<ion-label>°Farenheit</ion-label>
			<ion-radio value="f"></ion-radio>
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-list-header>
			Generales
		</ion-list-header>
		<ion-item>
			<ion-label>Sonido</ion-label>
			<ion-toggle secondary
				[ngModel]='preferences[PREF_SOUND]'
				(ionChange)='changePreference($event, PREF_SOUND)'></ion-toggle>
		</ion-item>
		<ion-item>
			<ion-label>Notificaciones</ion-label>
			<ion-toggle secondary
				[ngModel]='preferences[PREF_NOTIFICATION]'
				(ionChange)='changePreference($event, PREF_NOTIFICATION)'></ion-toggle>
		</ion-item>
	</ion-list>
</ion-content>