app-parks-page{
    ion-header{
        ion-navbar{
            position: relative !important;
            min-height: 30px !important;
            max-height: 145px !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
            padding-top: 0px !important;
            padding-bottom: 6px !important;
            
            & > button > span > span { display: none !important; }

            & > button {
                position: absolute !important;
                z-index: 3 !important;
            }

            & > div.toolbar-content {

                img{
                    width: 100% !important;
                }

                & > ion-title{
                    position: absolute !important;
                    z-index: 2 !important;
                    top: 0 !important;
                    bottom: 0 !important;
                    padding: 0 !important;
                    padding-left: 45px !important;
                    padding-right: 45px !important;
                    width: 100% !important;
    
                    & > div{
                        font-weight: bold !important;
                        text-align: center !important;
                        text-transform: uppercase !important;
                        text-overflow: initial !important;
                        white-space: initial !important;
                        font-size: 2.5rem !important;
                        padding: 0 !important;

                        @media screen and (min-width: 200px) and (max-width: 320px){
                            font-size: 1.8rem !important;
                        }

                        @media screen and (min-width: 320px) and (max-width: 375px){
                            font-size: 2.2rem !important;
                        }
                    }
                }
            }
        }
    }

    ion-content{
        .fixed-content, .scroll-content{
            margin-top: 140px !important;
        }
    }
}